<div class="bg-yellow-400 border-b border-yellow-600">
	<div class="container flex justify-between items-center p-4 mx-auto">
		<p class="font-mono text-lg font-extralight text-black lg:text-xl">
			Admin
		</p>
		<div class="div">
			<%= link_to "Users", admin_users_path, class:"text-black mx-2"%>
			<%= link_to "Submissions", admin_submissions_path, class:"text-black ml-2"%>
		</div>
	</div>
</div>
