<h3 class="mb-4 font-bold">Webbit posting Guidelines</h3>
<ol class="p-0 text-sm leading-loose list-none divide-y">
	<li class="pt-1">Behave</li>
	<li class="pt-1">Proper British etiquette</li>
	<li class="pt-1">Thy shan't omit thee thoughts about Queen Elizibth</li>
	<li class="pt-1">Duplicate posts will result in a permanent suspension. Be precarious</li>
</ol>
