<div class="flex flex-col items-start w-10">
	<%= render "shared/voting" , is_comment: false, content: submission, upvote: upvote_submission_path(submission), downvote: downvote_submission_path(submission) %>
</div>
