<% content_for :primary_content do%>

	<h1 class="mb-6 text-4xl font-bold">New submission</h1>

	<%= render "form", submission: @submission %>

<% end%>

<% content_for :secondary_content do%>
	<%= render "guidelines" %>
<% end%>

<%= render "basic_layout"%>
