<div class="p-10 mx-auto my-16 max-w-md text-center bg-white rounded-lg shadow-xl">
	<h2 class="mb-6 text-3xl font-bold">Unsubscribed!</h2>

	<%= link_to "Return to Webbit", root_path, class: "btn btn-indigo" %>
</div>
