<div class="p-8 mx-auto mt-16 max-w-xl rounded-xl shadow-xl">
	<div class="h-[ 200px] bg-gray-100 overflow-hidden mb-6 rounded-lg">
		<img src="/drdiagnosis.jpg" alt="Dr diagnosis wants money" class="object-cover bg-gray-100 rounded-lg">
	</div>

	<h1 class="mb-2 text-3xl font-black">Send funds plz</h1>
	<p class="mb-6">Text about your purchase</p>
	<%= button_to "Subscribe", "#", class:"px-3 py-4 bg-indigo-600 text-white w-full text-center rounded"%>
</div>
