<p><%= @submission.user.username %>,</p>
<p>You post <%= link_to @submission.title, submission_url(@submission)%> has a new comment.</p>

<p>New comment: </p>

<div><%= @comment.reply%></div>

<%# Could spam all hashes to unsubscrbe random users %>
<p><%= link_to "Unsubscribe", comment_unsubscribe_url(@submission.user.unsubscribe_hash), target: :_blank %></p>
