<div class="p-8 mx-auto mt-16 max-w-xl rounded-xl shadow-xl">
	<div class="h-[ 200px] bg-gray-100 overflow-hidden mb-6 rounded-lg">
		<img src="/drdiagnosis.jpg" alt="Dr diagnosis wants money" class="object-cover bg-gray-100 rounded-lg">
	</div>

	<h1 class="mb-2 text-3xl font-black">Thanks for your purchase <%= @customer.name%></h1>
	<%= link_to "Continue", root_url, class:"text-indigo-600 underline block"%>
</div>
