<div class="flex justify-start items-center px-6 py-2 bg-indigo-50 rounded">
	<img src="/drdiagnosis.jpg" alt="House, interacting with a fan on Twitch">
	<div class="flex flex-1 justify-between items-center pl-4 leading-normal">
		<p class="italic text-gray-700">House, interacting with a fan</p>
		<div >

			<%= link_to "Remove ads",pricing_path, class:"text-xs text-indigo-600 underline"%>
		</div>
	</div>
</div>
