<% content_for :community_label, "Edit community"%>

<% content_for :primary_content do %>
	<h1 class="mb-6 text-3xl font-bold">Edit a community</h1>
	<%=  render "form", community: @community %>
	2105-20
<%end %>
<% content_for :secondary_content do%>
	<h3 class="font-bold">Editing the <%= @community.name %> community</h3>
	<p class="text-sm italic">Each community requires the following:</p>
	<ul class="pl-6 mt-4 leading-loose list-disc">
		<li>Name</li>
		<li>Title</li>
		<li>Description</li>
	</ul>
<% end %>
<%=  render "basic_layout" %>
