<% content_for :community_label, "Edit community"%>

<div class="mx-auto w-full md:w-2/3">
	<h1 class="text-4xl font-bold">Editing community</h1>

	<%= render "form", community: @community %>

	<%= link_to "Show this community", @community, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
	<%= link_to "Back to communities", communities_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
