<% title "Submissions"%>
<% content_for :community_label, "All communities"%>

<% content_for :primary_content do %>
	<% if @communities.any? %>
		<h1 class="mb-6 text-3xl font-bol">Communities</h1>
		<div id="communities">
			<ul class="list-none divide-y">
				<% @communities.each do |community| %>
					<%= render community%>
				<% end%>
			</ul>
		</div>
	<% else %>

		<%= render partial: 'shared/empty', locals: { content: "community", cta_text: "Create a submission", cta_path: new_community_path } %>
	<%end %>
<%end %>

<% content_for :secondary_content do%>
	<%= link_to "New community", new_community_path, class:"btn btn-indigo " %>
<% end %>

<%=  render "basic_layout" %>
