<% content_for :community_label, "Create community"%>

<% content_for :primary_content do %>
	<h1 class="mb-6 text-3xl font-bold">Create a community</h1>
	<%=  render "form", community: @community %>

<%end %>
<% content_for :secondary_content do%>
	<div class="p-4">
		<%= render_svg "community", styles: "max-w-full h-auto mb-4"%>
		<h3 class="font-bold">Create a new community on webbit</h3>
		<p class="text-sm italic">Each community requires the following:</p>
		<ul class="pl-6 mt-4 leading-loose list-disc">
			<li>Name</li>
			<li>Title</li>
			<li>Description</li>
		</ul>
	</div>

<% end %>
<%=  render "basic_layout" %>
